@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Nunito', sans-serif;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

h1 {
  font-size: 70px;
  line-height: 78px;
}

h2 {
  font-size: 38px;
  line-height: 45px;
}

h3 {
  font-size: 28px;
  line-height: 36px;
}

h4 {
  font-size: 24px;
  line-height: 32px;
}

h5 {
  /* subtitle */
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

p {
  /* body text small */
  font-weight: light;
  font-size: 16px;
  line-height: 24px;
}
